@import 'basics/transparent';
@import 'basics/powercord_toast';
@import 'basics/buttons';
@import 'basics/profile_modal';
@import 'basics/settings';
@import 'addons/hide_nitro_tab';

:root {
    --chattyBackgroundImage: url(https://source.unsplash.com/daily);
    --chattyBorderRadius: 15px;
    --chattyPadding: 10px;
    --chattyBlur: 5px;
    // Added by Light#0853
    --interactive-muted: #D08770;
    --background-primary: rgba(0, 0, 0, 0.2);
    --background-secondary: rgba(0, 0, 0, 0.3);
    --background-secondary-alt: rgba(0, 0, 0, 0.3);
    --background-tertiary: rgb(39, 39, 39);
}
