// general
button {
    border-radius: var(--chattyBorderRadius) !important;
}
// green
.lookOutlined-3sRXeN.colorGreen-29iAKY {
    background: #2f8f644a;
}
.lookOutlined-3sRXeN.colorYellow-2JqYwt {
    background: #d892194a;
}
.lookOutlined-3sRXeN.colorBlack-1jwPVL {
    background: #0404054a;
}
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
    background: #747f8d4a;
}
.lookOutlined-3sRXeN.colorLink-35jkBc {
    background: #00b0f44a;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    background: #f047474a;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    background: #7289da4a;
}