.backdrop-1wrmKB {
    background: #00000055 !important;
    opacity: 1 !important;
}
.inner-1ilYF7 {
    background: none !important;
}
.root-SR8cQa {
    background: none !important;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.8);
    border-radius: var(--chattyBorderRadius);
}
.inner-1ilYF7 .body-3ND3kc {
    background: #00000066;
}
.topSectionSpotify-1lI0-P {
    background: #1db954a8;
}
.connectedAccount-36nQx7 {
    border: none;
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-top: none;
}
.topSectionNormal-2-vo2m {
    background: #000000a8;
}
.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
    border-top: none;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background: #1db954a8;
    color: #fff;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background: #1db954ff;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background: #7289daa8;
}
.topSectionPlaying-1J5E4n {
    background: #7289daa8;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background: #7289daa8;
    border-radius: var(--chattyBorderRadius);
    color: #fff;
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background: #7289daff;
}
.topSectionStreaming-1Tpf5X {
    background: #593695a8;
}
.buttonInvertedPurple-WtBglX {
    border-radius: var(--chattyBorderRadius);
    background: #593695a8;
    color: #fff;
}
.buttonInvertedPurple-WtBglX:hover {
    background: #593695ff;
}
.topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #593695a8 !important;
}
.topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #593695ff !important;
}
.topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    background: #7289daa8 !important;
}
.topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background: #7289daff !important;
}
.tabBarContainer-1s1u-z {
    border-top: none;
    height: 40px;
}
.tabBar-2MuP6- {
    height: 40px;
}