.layers-OrUESM {
    .layer-86YKbF {
        background: transparent;
        .standardSidebarView-3F1I7i {
            background: transparent;
            margin: var(--chattyPadding);
            .sidebarRegion-1VBisG {
                margin-right: var(--chattyPadding);
                flex: 0 0 218px;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                background: transparent;
                .sidebar-nqHbhN {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background: transparent;
                }
                .sidebarRegionScroller-FXiQOh {
                    background: rgba(0,0,0,0.6);
                }
            }
            .contentRegion-3HkfJJ {
                width: 100px;
                background: transparent;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                .contentRegionScroller-2_GT_N {
                    background: rgba(0,0,0,0.6);
                    .contentColumn-1C7as6  {
                        max-width: 100%;
                        .background-3d_SjE {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0,0,0,0.3);
                            padding: 20px;
                            .avatarUploaderInner-yEhTv5 {
                                border-radius: var(--chattyBorderRadius);
                            }
                            .fieldList-in8WkP {
                                border-radius: var(--chattyBorderRadius);
                                background: rgba(0,0,0,0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}