@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@import url("https://jatin-jindal.github.io/discordfont/DiscordFont.css");


#app-mount {
    background-image: var(--chattyBackgroundImage) !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .typeWindows-2-g3UY {
        backdrop-filter: blur(var(--chattyBlur)) brightness(0.7) !important;
        background-color: #934039;
        background: transparent !important;
        height: 18px;
        margin-top: 0px;
        padding-top: 5px;
    }
    .app-2CXKsg {
        background: transparent !important;
        backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
        .bg-1QIAus {
            background: transparent !important;
        }
        .wrapper-1Rf91z {
            background: transparent !important;
            padding-top: 6px;
            .scroller-2TZvBN {
                background: transparent !important;
                .listItem-2P_4kh {
                    .wrapper-28eC3z {
                        .svg-2zuE5p {
                            overflow: hidden;
                            mask {
                                display: none;
                            }
                        }
                        .wrapper-3kah-n {
                            border-radius: 100%;
                            overflow: hidden;
                        }
                        .wrapper-3kah-n.selected-1Drb7Z {
                            border-radius: var(--chattyBorderRadius);
                        }
                        .circleIconButton-jET_ig {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0,0,0,0.4);
                        }
                        .folderIconWrapper-226oVY {
                            border-radius: var(--chattyBorderRadius);
                            overflow: hidden;
                        }
                        .folder-21wGz3 {
                            background: transparent !important;
                        }
                    }
                }
                .wrapper-21YSNc {
                    .expandedFolderBackground-2sPsd- {
                        background: rgba(0,0,0,0.4);
                        border-radius: var(--chattyBorderRadius);
                        padding-top: 48px;
                        margin-bottom: 17px;
                    }
                }
            }
        }
        .sidebar-1tnWFu {
            background: rgba(0,0,0,0.4);
            border-radius: var(--chattyBorderRadius);
            margin-top: 5px !important;
            margin-bottom: var(--chattyPadding);
            .container-1NXEtd {
                background: transparent;
                .header-3OsQeK {
                    box-shadow: none;
                }
            }
            .privateChannels-oVe7HL {
                background: transparent;
                .searchBar-3TnChZ {
                    box-shadow: none;
                    .searchBarComponent-3N7dCG {
                        text-align: center ;
                        background: rgba(0,0,0,0.4);
                        color: #888;
                    }
                }
                .scroller-WSmht3 {
                    background: transparent;
                }
            }
            .panels-3wFtMD {
                background: transparent;
            }
        }
        .container-2cd8Mz {
            background: rgba(0,0,0,0.6);
            margin: var(--chattyPadding);
            margin-top: 5px !important;
            border-radius: var(--chattyBorderRadius);
            .container-ZMc96U.themed-Hp1KC_ {
                background: rgba(0,0,0,0.4);
                .children-19S4PO::after {
                        display: none !important;
                }
            }
            .actionButton-3-B2x- {
                border-radius: var(--chattyBorderRadius);
                background: rgba(0,0,0,0.4);
            }
            .nowPlayingColumn-1eCBCN {
                background: transparent;
                .consentCard-1MV_A4 {
                    background: rgba(0,0,0,0.4);
                }
                .itemCard-3Etziu {
                    background: rgba(0,0,0,0.4);
                }
            }
        }
        .chat-2ZfjoI {
            background: rgba(0,0,0,0.5);
            margin: var(--chattyPadding);
            margin-top: 5px !important;
            border-radius: var(--chattyBorderRadius);
            .container-ZMc96U.themed-Hp1KC_ {
                background: transparent;
                .children-3xh0VB:after {
                    opacity: 0;
                }
                .searchBar-zdmu7v {
                    background: rgba(0,0,0,0.4);
                }
            }
            .content-1jQy2l:before {
                display: none;
            }
            .messagesWrapper-RpOMA3 {
                background: transparent;
                .blockquoteDivider-363utW {
                    width: 0px;
                }
                blockquote {
                    background: rgba(0,0,0,0.4);
                    border-radius: var(--chattyBorderRadius);
                    padding: 8px;
                }
                .imageWrapper-oMkQl4{
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                    transition: 0.2s ease-in-out;
                }
                .imageWrapper-oMkQl4:hover {
                    transform: scaleY(1.02) scaleX(1.02);
                }
                .video-2HW4jD {
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                }
                .embedFull-1HGV2S {
                    background: rgba(0,0,0,0.4);
                    border-left: 0px;
                    border-bottom: var(--chattyBorderRadius) solid;
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                    .grid-1aWVsE {
                        padding-top: 3px;
                        padding-bottom: 10px;
                    }
                }
            }
            .form-3gdLxP:before {
                opacity: 0;
            }
            .channelTextArea-1FufC0 {
                background: rgba(0,0,0,0.4);
                border-radius: var(--chattyBorderRadius);
                .scrollableContainer-15eg7h {
                    background: transparent !important;
                }
            }
            .members-3WRCEx {
                background: transparent !important;
                > div {
                    background: transparent !important;
                }
            }
        }
        .noChannel-Z1DQK7 { // maybe = noChannel-1GDIAZ 
            background: transparent;
            border-radius: var(--chattyBorderRadius);
            margin: var(--chattyPadding);
            margin-top: 5px !important;
            .image-20MDYu {
                display: none;
            }
            .flexChild-3PzYmX {
                background: rgba(0,0,0,0.4);
                padding: 20px;
                border-radius: var(--chattyBorderRadius);
                .title-2CL_z0 {
                    color: #f53e3e;
                    text-shadow: #f53e3e 0px 0px 0px;
                    transition: 0.4s ease-in-out;
                }
                .title-2CL_z0:hover {
                    text-shadow: #f53e3e 0px 0px 20px;
                }
                .text-27cdrj {
                    color: #c0c0c0;
                }
            }
        }
    }
}
*::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.6) !important;
    border-radius: var(--chattyBorderRadius) !important;
}
*::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: transparent !important;
}
code {
    background: rgba(0,0,0,0.6) !important;
    border: none !important;
    border-radius: var(--chattyBorderRadius) !important;
}




// Things added by Light#0853




// RTC Connection Status Card
.theme-dark .container-1ILvLB section {
    background-color :rgba(0, 0, 0, 0);
}
.theme-dark .container-1ILvLB .header-2C89wJ {
    background-color: rgba(0, 0, 0, 0);
}
.container-1ILvLB {
    width: 250px;
    border-radius: var(--chattyBorderRadius);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

// Screen Sharing Card

.theme-dark .footer-31IekZ {
    background-color: #00000000;
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}
.backdropWithLayer-3_uhz4 {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

// Screen Sharing Grid

.wrapper-1gVUIN {
    z-index: 2;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: transparent !important;
    overflow: hidden;
}

// Connected Users and Total User Text Color

.wrapper-2fEmwW {
    color:rgba(255, 255, 255, 0.7);

}
// Last Message Date Text Color

.content-3spvdd {
    color:rgba(255, 255, 255, 0.7)
}

// [Game Activity] Added Games Hover

.theme-dark .card-2ART2V:before {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: var(--background-primary);
}

// [Game Activity] Add Game Menu

.theme-dark .addGamePopout-3yePJc {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7) !important;
}

// Server Roles

.scroller-3_YDR2 {
    background-color: transparent !important;
}

// Floating Menus

.menu-1QACrS {
    border-radius: var(--chattyBorderRadius);
    // still not found how to bg blur without buggging the "add reaction" section
}

// Rapid Reactions BG

.button-1zW0-r {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

// Rapid Actions on Messages

.wrapper-2vIMkT {
    background-color: rgba(0, 0, 0, 0.3);
}

// Custom Discord Text

.wordmark-2u86JB svg {
    width: 0px;
  }
  .theme-dark .wordmark-2u86JB:after {
    font-family: "Discord";
    content: "Chatty";
    font-size: 12px;
    background: rgba(235, 235, 228, 0.521);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 5px;
  }

// User Popouts | last update 02/08/2021 ->  04/01/2022 -> 22/09/2022 | 

.userPopout-29jUdN {
    border-radius: var(--chattyBorderRadius) !important	;
    background-color: transparent !important;
    box-shadow: 0px 0px 20px black;
}

div[id^="popout_"] {
  backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
  border-radius: var(--chattyBorderRadius);
}

.userPopoutInnerWithBanner-24GX6I, .userPopoutInnerNonPremium-1EOFgI, .userPopoutInner-1v4xcM,.userPopoutInnerWithoutTheme-53VYav, .userPopoutInnerNonPremium-1EOFgI {
    background: transparent !important;
}

.overlayBackground-2Zjm9f {
    background-color: transparent !important;
    margin: 20px 10px 10px;
}

.profileBadges-31rDHI {
    background-color: transparent !important;
    box-shadow: 0px 0px 15px -3px black;
}
.accountProfilePopoutWrapper-3GskID {
  left: 0px !important;
}

// Pfp misalignment fix

.bannerSVGWrapper-qc0szY mask {
  display: none;
}

.userPopout-2j1gM4 .wrapper-1VLyxH::before,
.avatar-3QF_VA::before {
  content: " ";
  font-size: 0px;
  background-color: transparent;
  float: left;
  border-radius: 50%;
  height: 94px;
  width: 94px;
  margin: -7px;
}

.avatar-3QF_VA::before {
  height: 136px;
  width: 136px;
  margin: -8px;
}

.userPopout-2j1gM4 [class^="avatarWrapper"] .wrapper-1VLyxH,
.avatarHint-k7pYop {
  top: 9px;
}

// Profile Modal

.root-g14mjS {
    border-radius: var(--chattyBorderRadius);
    background-color: transparent !important;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);

}

.body-1Ukv50, .topSection-13QKHs {
    background-color: transparent !important;
    
}

.avatar-3QF_VA {
    border: 8px solid transparent !important;
    background-color: transparent !important;
}

.connectedAccountContainer-SlCC-S {
    background-color: var(--background-primary);
    border-radius: var(--chattyBorderRadius);
}

.badgeList-2aoHPw {
    background-color: var(--background-primary);
    border-radius: var(--chattyBorderRadius);
    padding-right: 2px;
    padding-left: 5px;
    padding-top: 3px;
}

//-------------------------------------


// Font Changed Things


// Server Names

.name-3Uvkvr {
    font-family: Discord;
}

// Buttons

.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp, .button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    font-family: Discord;
}

// Roles Groups

.membersGroup-2eiWxl {
    font-family: Discord;
}

//-------------------------------------



//Spotify "Add to Playlist"

.modal-2RrUKJ {
    background-color: transparent !important;
}

.header-1zd7se {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.content-2hZxGK {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.footer-31IekZ  {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.playlist {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

// Server Roles *updated*

.contentRegion-3HkfJJ {
    background: rgba(0, 0, 0, 0.3) !important;
}

.contentRegionScroller-2_GT_N {
    background: rgba(0, 0, 0, 0) !important;
}

.contentWidth-xLB44s {
    max-width: none;
}

.stickyHeader-hH_ZLl {
    border-radius: var(--chattyBorderRadius);
}

.list-1AJFv_ {
    background-color: rgba(0, 0, 0, 0.6);
}

.page-15bX59 {
    max-width: none !important;
}

.titleContainer-3fPic2 {
    background: none;
}

.toolsContainer-25FL6V {
    padding-top: 20px;
}

.scroller-14hecM {
    background-color: rgba(0, 0, 0, 0.6);
}

.scroller-39BnzZ {
    background-color: rgba(0, 0, 0, 0.6);
}

.list-38_JVu {
    background-color: rgba(0, 0, 0, 0.6);
}

.scroller-1J_F7B {
    background-color: rgba(0, 0, 0, 0.6);
}

.contentColumn-1C7as6, .customColumn-2n-oKU {
    max-width: none;
}

.headerDefault-1wrJcN, .headerClickable-2IVFo9 {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

// Server List Scroller
.scroller-3X7KbA {
    background-color: transparent !important;
}

.powerclock.sticky {
    background-color: transparent !important;
    box-shadow: none !important;
    
}

.guilds-2JjMmN {
    background-color: transparent !important;
}

// Chat 

// #app-mount .app-2CXKsg .chat-2ZfjoI {
//    background: rgba(0, 0, 0, 0.5);
// }

//PiP Video

.pictureInPictureWindow-3ms5Zy {
    box-shadow: 0px 0px 50px black;
}

// Server Boost Page

.ctaBar-Nhk8yY {
    border-radius: var(--chattyBorderRadius) !important;
}

.tierMarkerBackground-G8FoN4 {
    background-color: var(--background-primary) !important;
}

.perksModal-CLcR1c {
    background-color: transparent !important;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

.tierHeader-wgo0w_ {
    border-top-left-radius: var(--chattyBorderRadius) !important;
    border-top-right-radius: var(--chattyBorderRadius) !important;
}

.tierBody-3ju-rc {
    background-color: var(--background-primary) !important;
    border-bottom-left-radius: var(--chattyBorderRadius) !important;
    border-bottom-right-radius: var(--chattyBorderRadius) !important;
}

.tierWrapper-CsnudO, .tier-lFqDUs {
    border-radius: var(--chattyBorderRadius) !important;
}

.perk-19D_HN {
    background-color: var(--background-primary) !important;
    border-radius: var(--chattyBorderRadius) !important;
}

// -------------------------------------

// My account page fix 

.accountProfileCard-lbN7n- {
    background-color: transparent !important;
    background: transparent !important;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
    border-radius: var(--chattyBorderRadius) !important;
}

.accountProfileCard-lbN7n- {
    box-shadow: 0px 0px 20px black;
}

.settingsBanner-1eDJ5w {
	height: 250px;
}

.avatar-3mTjvZ {
	top: 230px;
    border: 7px solid transparent !important;
    background-color: transparent !important;
}

.fieldList-in8WkP {
    background-color: transparent !important;
}

// -------------------------------------


// Chat overlay bug fix

.scroller-kQBbkU {
    bottom: 10px;
}

// Threads -- 11 september 2022

.container-ZMc96U.themed-Hp1KC_ {
    background: transparent !important;
}

.floating-3M3WeH {
    background-color: var(--background-floating) !important;
    border-left: none !important;
    filter: none !important;
    -webkit-filter: none !important;
    max-height: 60% !important;
}

.container-3XgAHv {
    background-color: rgba(0,0,0,0.5);
    margin: var(--chattyPadding);
    margin-top: 5px !important;
    margin-left: 5px !important;
    border-radius: var(--chattyBorderRadius) !important;
}

.threadSidebarOpen-1LSXvU {
    margin-right: 5px !important;
}

.threadSidebarFloating-uC2s6v {
    margin-right: var(--chattyPadding) !important;
}

// Nitro Page

.applicationStore-2nk7Lo {
    background-color: transparent !important;
    margin: var(--chattyPadding);
    margin-top: 5px !important;
}

.homeWrapperNormal-bu1BS6 {
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--chattyBorderRadius);
}

.scroller-29cQFV {
    background-color: transparent !important
}

// Video Grid Fix
.callContainer-HtHELf {
    background-color: transparent !important;
}

//--------

// members bar fix --- 04 january 2022 
.container-2o3qEW {
    background: transparent !important;
}

// navigation bar fix
.navigationBar-3r0IQK {
    background-color: transparent !important;
}

// join-create server popup fix
.header-1zd7se {
    background-color: transparent !important;
}
.content-2hZxGK {
    background-color: transparent !important;
}

.theme-dark .footer-31IekZ {
    background-color: transparent !important;
}

.close-1mLglB {
    color: rgb(0, 0, 0) !important;
}


.base-21yXnu {
    color: white;
}

.container-x8Y1ix:hover {
    background-color: rgba(255, 255, 255, 0.609) !important;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: #5865f2;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: #5865f2b4;
}

// "no one else is here yet. invite people to join you!" card background remove
.tile-2TcwiO {
    background-color: transparent !important;
}

.button-3Vyz67 {
    background-color: #f47fff !important;
}

// Video and Screen share buttons

.buttonIcon-2Zsrs2 {
    width: 15px;
    height: 15px;
}

// profile customization screen fix

.contentColumnWide-2CgNjO {
    padding-left: 80px;
}

// voice chat connected users icons

.avatarSmall-3qwAkA {
    width: 26px !important;
    height: 26px !important;
}

// Post Q&A

.container-3wLKDe {
  background-color: transparent !important;
}

.container-3YcgdM {
  background-color: transparent;
}
