.panels-j1Uci_ {
    margin-left: calc(-72px + var(--chattyPadding));
    background: rgba(0,0,0,0.4) !important;
    width: calc(312px - var(--chattyPadding));
    border-radius: var(--chattyBorderRadius);
    z-index: 100;
    backdrop-filter: blur(3px);
}
.sidebar-2K8pFh {
    overflow: visible !important;
    background: none !important;
}
.base-3dtUhz {
    overflow: visible !important;
}
.container-PNkimc {
    background: rgba(0,0,0,0.4) !important;
    border-radius: var(--chattyBorderRadius);
    margin-bottom: var(--chattyPadding);
}
.wrapper-1Rf91z .scroller-2TZvBN {
    padding-bottom: 500px;
}